html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

h1 {
    background-color: black;
    color: white;
    padding: 10px;
}

.buttonON,
.buttonOFF {
    display: inline-block;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    padding: 2vw 4vw;
    margin-top: 10px;
    margin-right: 10px;
    width: 100%; 
}

.buttonON,
.buttonOFF {
    padding: 2vw 4vw; /* Padding en relación con el ancho del contenedor */
}

.buttonON {
    background-color: #4CAF50;
}

.buttonON:hover {
    background-color: #3e8e41;
}

.buttonON:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.buttonOFF {
    background-color: #e74c3c;
}

.buttonOFF:hover {
    background-color: #c0392b;
}

.buttonOFF:active {
    background-color: #c0392b;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

/* Estilos para botones desactivados cuando el radio está seleccionado */
.boton-desactivado {
    color: gray;
    background-color: lightgray;
    cursor: not-allowed;
    pointer-events: none; /* Evita eventos del mouse en botones desactivados */
}

.text {
    text-align: center;
    font-size: 18px;
    width: 200px;
    height: 22px;
    border: 3px solid #9b59b6;
    border-radius: 5px;
    padding: 3px;
    -webkit-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -moz-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -o-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.text:focus {
    border: 3px solid #8e44ad;
    box-shadow: 0 0 7px #8e44ad;
    outline: none;
}

body {
    background-image: url("imagenes/DestileriaDeFondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top-left {
    position: absolute;
    top: 100px;
    left: 10px;
}

.top-right {
    position: absolute;
    top: 100px;
    right: 10px;
}

.mode-container {
    color: white;
    font-size: 14px;
    text-align: left;
  }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-img {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.60); /* Fondo blanco con transparencia del 60% */
  }